/* Applies to whole page */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Setting for smooth scroll when navigating to a section */
html{
    scroll-behavior: smooth;
}

/* Color Scheme or Theme Variables */
:root {
    --color-primary: #03045E;
    --color-primary-light: #023E8A;
    --color-secondary: #00B4D8;
    --color-secondary-light: #48CAE4;
    --color-accent: #93edff;
    --color-accent-light: #CAF0F8;
    --color-text: rgb(230, 217, 217);
  }
  

/* Remove default margin and padding */
body{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Header customizations */
header{
    width: 100%;
    height : fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.356);
    position: sticky;
    top: 0;
    z-index: 50;
    padding: 7px;
}

/* Header elements customizations */
header a, #header-option-button{
    color: var(--color-text);
    text-decoration: none;
    margin: 0px 20px;
    font-size: 1.5rem;
}

#header-option-button{
    background-color: transparent;
    outline: none;
    border: none;
}

#header-option-button:hover{
    color: var(--color-secondary);
}

header a:hover{
    color: white;
    text-decoration: underline;
    transition: all ease-in-out 0.5s;
}

#header-option-button-div{
    display: none;
}

.header-options-view{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.header-options-hide{
    width: 0;
    height: 0;
    overflow: hidden;
}

@media only screen and (min-width: 880px) {
    #header-options-small-screen{
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@media only screen and (max-width: 880px) {
    #header-option-button-div{
        display: block;
    }
    #header-options{
        width: 0;
        height: 0;
        overflow: hidden;
    }
    header{
        display: block;
    }
}

                    /* Main section start */
/* Main section settings */
main{
    width: 100%;
    height: auto;
    margin: 0;
    background-color: var(--color-primary-light);
    /* overflow: hidden; */
}

/* Profile section settings */
#section-profile {
    width: 100%;
    height: 100vh;
    margin: 0;
    /* Profile section background image settings */
    background-image: url(pics/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* Profile contents are divided in two divs, this will set their positions */
#profile-contents{
    display: flex;
    justify-content: space-between;
}

/* profile text content div */
#profile-content-text{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* knowledge icon showing icons of tools */
#knowledge-icon{
    width: 220px;
    height: 150px;
    transition: all ease-in-out 1s;
    filter: drop-shadow(0px 0px 3px white);
    border: 2px solid white;
    background-color: #20202086;
}

/* Swipe up or click to hide profile page */

#profile-swipe-up a{
    text-decoration: none;
    color: white;
    transition: color ease-in-out 0.5s;
}

#profile-swipe-up a:hover{
    color: var(--color-accent);
}

#profile-swipe-up a *{
    font-size: 2rem;
    text-shadow: -3px 0 var(--color-primary-light), 0 3px var(--color-primary-light), 3px 0 var(--color-primary-light), 0 -3px var(--color-primary-light);
}

/* Profile pic content div */
#profile-content-pic{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Profile text box containing profile text */
#profile-text-box{
    border: 6px solid white;
    background-color: rgba(0, 0, 0, 0.363);
    padding: 10px 20px;
    text-align: center;
}

/* Adjustments for text inside profile text box */
#profile-text-box *{
    color: white;
    font-family: monospace;
    text-shadow: -3px 0 var(--color-primary-light), 0 3px var(--color-primary-light), 3px 0 var(--color-primary-light), 0 -3px var(--color-primary-light);
}

#profile-text-box h1{
    font-size: 3.5rem;
}

#profile-text-box h4{
    font-size: 2.5rem;
}

/* Profile pic box containing profile pic and animation */
#profile-pic-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjustments for profile pic */
#profile-pic{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    position: absolute;
    object-fit: cover;
    object-position: 0% 0%;
    z-index: 2;
}

/* For animation behind profile pic */
#profile-animation{
    width: 630px;
    height: 630px;
    object-fit: contain;
    position: relative;
    z-index: 1;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

            /* Responsive Profile */
@media only screen and (max-width: 1280px) {
    #profile-contents{
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
    }
    #profile-content-pic{
        height: fit-content;
        width: 100%;
    }
    #profile-pic{
        width: 170px;
        height: 170px;
    }
    #profile-animation{
        width: 270px;
        height: 270px;
    }
    #profile-content-text{
        height: auto;
        width: 80%;
        align-items: space-around;
    }
    #profile-text-box{
        padding: 5px 10px;
        margin: 10px 5px;
    }
    #profile-text-box *{
        margin: 1.2rem 0px;
    }
    #profile-text-box h1{
        font-size: 2rem;
        /* letter-spacing: 2px; */
    }
    #profile-text-box h4{
        font-size: 1.2rem;
        /* letter-spacing: 2px; */
    }
    #knowledge-icon{
        display: none;
    }
}

                    /* main section end */

.section-heading{
    color: var(--color-accent-light);
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
}

                    /* about section start */
#section-about{
    background-color: var(--color-primary-light);
    margin: 0;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

#about-content{
    max-width: 1200px;
    text-align: center;
}

#about-content p{
    color: var(--color-text);
    font-size: 1.3rem;
    font-weight: bold;
}

#about-content p span{
    color: orange;
}
                    /* About Section End */

                    /* Skills Section Start */
#section-skills{
    margin: 0;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-primary);
}

#skills-content{
    margin-top: 35px;
    margin-bottom: 15px;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill{
    width: 200px;
    background-color: white;
    overflow: hidden;
    margin: 0px 20px 40px;
    border-radius: 22px;
}

.skill-percent{
    height: 100%;
    padding: 12px 5px;
    box-shadow: 1px 0px 5px 3px rgb(71, 69, 69);
}

.skill-percent span{
    color: white;
    font-weight: bold;
    margin-left: 5px;
    font-size: 1.2rem;
}

/* Skills Responsiveness */
@media only screen and (max-width: 660px) {
    #section-skills{
        padding: 40px 8px;
    }
    #skills-content{
        max-width: 95%;
    }
    .skill{
        width: 195px;
        background-color: white;
        overflow: hidden;
        margin: 0px 10px 20px;
        border-radius: 22px;
    }
    
    .skill-percent{
        height: 100%;
        padding: 7px 2px;
        box-shadow: 1px 0px 5px 3px rgb(71, 69, 69);
    }
}

/* skills percents */

.fifty-percent{
    width: 50%;
    background-color: darkorange;
}

.seventy-percent{
    width: 70%;
    background-color: darkcyan;
}

.eighty-percent{
    width: 80%;
    background-color: darkmagenta;
}

.ninety-percent{
    width: 90%;
    background-color: rgb(45, 129, 179);
}

.hundred-percent{
    width: 100%;
    background-color: darkgreen;
}
                    /* Skills section End */

                    /* Experience/Education Section Start */
#section-education{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: var(--color-primary);
}

#section-experience{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

#ex-education-content{
    width: 80%;
    height: fit-content;
    position: relative;
}

.ex-education{
    width: 35%;
    background-image: linear-gradient(to bottom right, var(--color-secondary), var(--color-primary-light), var(--color-primary));
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px -5px 5px 2px rgba(18, 22, 53, 0.411);
    margin-bottom: 30px;
    position: relative;
    left: 5%;
}

.ex-education-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--color-text);
}

.ex-education-header img{
    height: 80px;
    background-color: white;
    padding: 8px;
}

.ex-education-title h1{
    color: var(--color-primary);
    margin: 5px 0;
    text-shadow: 0 0 2px white;
}

.ex-education-title h2{
    color: orange;
    margin: 5px 0;
}

.ex-education-title h4{
    color: var(--color-text);
    margin: 5px 0;
}

.ex-education-details{
    color: var(--color-text);
    margin-top: 20px;
}

.ex-education:nth-child(2n+1){
    left: 55%;
}

                    /* Plane-Car Effect Start */
.dot{
    position: relative;
    left: -5px;
    /* margin-bottom: 15rem; */
    background-color: orange;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 2;
}

.plane-car-effect{
    position: absolute;
    width: 5%;
    height: 67%;
    left: 50%;
    top: 16%;
    z-index: 1;
    border-left: 3px dashed var(--color-secondary-light);
}

.plane-car{
    position: sticky;
    position: -webkit-sticky;
    top: 40vh;
    left: -20px;
    z-index: 3;
}

.plane-car i{
    font-size: 3rem;
    transform: rotate(90deg);
    color: var(--color-accent-light);
    position: absolute;
    left: -30px;
    top: -12px;
    text-shadow: 0 0 8px red;
}

.dots-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
                    /* Plane Car Effect End */

/* Ex/Edu responsiveness */
@media only screen and (max-width: 1100px) {
    #ex-education-content{
        width: 95%;
    }
    #section-education{
        padding: 40px 0;
    }
    #section-experience{
        padding: 40px 0;
    }
    .ex-education:nth-child(n){
        width: 92%;
        background-image: linear-gradient(to bottom right, var(--color-secondary), var(--color-primary-light), var(--color-primary));
        padding: 5px;
        border-radius: 5px;
        box-shadow: 5px -5px 5px 2px rgba(18, 22, 53, 0.411);
        margin-bottom: 30px;
        position: relative;
        left: 8%;
    }
    .plane-car-effect{
        position: absolute;
        width: 5%;
        height: 67%;
        left: 3%;
        top: 16%;
        z-index: 1;
        border-left: 3px dashed var(--color-secondary-light);
    }
}

                    /* Experience/Education Section End */

                    /* Certificates Section Start */
#section-certificates{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}

#certificates-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#certificates-content a{
    text-decoration: none;
    margin: 30px;
}

.certificate{
    display: flex;
    padding: 10px;
    background-image: radial-gradient(var(--color-primary-light) 60%, var(--color-primary));
    border-radius: 10px;
}

.certificate img{
    height: 150px;
    margin-right: 15px;
}

.certificate div *{
    color: var(--color-text);
}
                    /* Certificates Section Start */

                    /* Accomplishment Section Start */
#section-accomplishment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    width: 100%;
    padding: 40px 0px;
}

#accomplishment-content{
    background-color: var(--color-primary-light);
    padding: 30px 10px;
    border-radius: 10px;
}

#accomplishment-content *{
    color: var(--color-text);
    font-size: 1.5rem;
    text-decoration: none;
}

#accomplishment-content li{
    margin-top: 20px;
}

#accomplishment-content a:hover{
    color: var(--color-secondary-light);
}
                    /* Accomplishment Section End */

                    /* Portfolio Section Start */
#section-portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

#portfolio-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portfolio-content *{
    color: var(--color-text);

}
                    /* Portfolio Section End */

                    /* Contact Section Start */
#section-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    background-image: linear-gradient(to bottom, var(--color-primary), var(--color-primary-light));
}

#contact-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-outer-contact-div{
    display: flex;
    width: 100%;
}

#message-form{
    width: 50%;
    text-align: center;
    padding: 0px 5rem;
}

#message-form input, textarea{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-text);
    width: 100%;
    font-size: 1.3rem;
    margin-top: 40px;
    outline: none;
    color: var(--color-text);
}

#message-form input:focus, textarea:focus{
    border-bottom: 2px solid var(--color-secondary-light);
}

#message-form button{
    color: white;
    background-color: transparent;
    outline: none;
    border: 3px solid var(--color-text);
    padding: 8px;
    font-size: 1.5rem;
    margin-top: 40px;
}

#message-form button:hover{
    border-color: var(--color-secondary-light);
}

#message-form button:focus{
    border-color: var(--color-secondary-light);
    color: var(--color-secondary-light);
}

#get-in-touch-div{
    width: 50%;
    padding: 0px 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#get-in-touch-div *{
    color: var(--color-text);
}

#get-in-touch-div div{
    margin-bottom: 10px;
}

#contact-social ul{
    text-align: center;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

#contact-social ul li{
    margin: 15px;
    display: inline-block;
    font-weight: 100;
    font-size: 1.3rem;
    border-radius: 50%;
    padding: 8px;
}

#contact-social ul li a{
    color: white;
}

#contact-social ul li:hover{
    box-shadow: 0 0 3px 3px var(--color-text);
}