/* Applies to whole page */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Setting for smooth scroll when navigating to a section */
html{
    scroll-behavior: smooth;
}

/* Color Scheme or Theme Variables */
:root {
    --color-primary: #03045E;
    --color-primary-light: #023E8A;
    --color-secondary: #00B4D8;
    --color-secondary-light: #48CAE4;
    --color-accent: #93edff;
    --color-accent-light: #CAF0F8;
    --color-text: rgb(230, 217, 217);
  }
  

/* Remove default margin and padding */
body{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Header customizations */
header{
    width: 100%;
    height : 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.356);
    position: sticky;
    top: 0;
}

/* Header elements customizations */
header a{
    color: var(--color-text);
    text-decoration: none;
    margin: 0px 20px;
    font-size: 1.5rem;
}

header a:hover{
    color: white;
    text-decoration: underline;
    transition: all ease-in-out 0.5s;
}

                    /* Main section start */
/* Main section settings */
main{
    width: 100%;
    height: auto;
    margin: 0;
    background-color: var(--color-primary-light);
}

/* Profile section settings */
#section-profile {
    width: 100%;
    height: 100vh;
    margin: 0;
    /* Profile section background image settings */
    background-image: url(pics/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* Profile contents are divided in two divs, this will set their positions */
#profile-contents{
    display: flex;
    justify-content: space-between;
}

/* profile text content div */
#profile-content-text{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* knowledge icon showing icons of tools */
#knowledge-icon{
    width: 220px;
    height: 150px;
    transition: all ease-in-out 1s;
    filter: drop-shadow(0px 0px 3px white);
    border: 2px solid white;
    background-color: #20202086;
}

/* Swipe up or click to hide profile page */

#profile-swipe-up a{
    text-decoration: none;
    color: white;
    transition: color ease-in-out 0.5s;
}

#profile-swipe-up a:hover{
    color: var(--color-accent);
}

#profile-swipe-up a *{
    font-size: 2rem;
    text-shadow: -3px 0 var(--color-primary-light), 0 3px var(--color-primary-light), 3px 0 var(--color-primary-light), 0 -3px var(--color-primary-light);
}

/* Profile pic content div */
#profile-content-pic{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Profile text box containing profile text */
#profile-text-box{
    border: 6px solid white;
    background-color: rgba(0, 0, 0, 0.363);
    padding: 10px 20px;
    text-align: center;
}

/* Adjustments for text inside profile text box */
#profile-text-box *{
    color: white;
    font-family: monospace;
    text-shadow: -3px 0 var(--color-primary-light), 0 3px var(--color-primary-light), 3px 0 var(--color-primary-light), 0 -3px var(--color-primary-light);
}

#profile-text-box h1{
    font-size: 3.5rem;
}

#profile-text-box h4{
    font-size: 2.5rem;
}

/* Profile pic box containing profile pic and animation */
#profile-pic-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjustments for profile pic */
#profile-pic{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    position: absolute;
    object-fit: cover;
    object-position: 0% 0%;
    z-index: 2;
}

/* For animation behind profile pic */
#profile-animation{
    width: 630px;
    height: 630px;
    object-fit: contain;
    position: relative;
    z-index: 1;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
                    /* main section end */

.section-heading{
    color: var(--color-accent-light);
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
}

                    /* about section start */
#section-about{
    background-color: var(--color-primary-light);
    margin: 0;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

#about-content{
    max-width: 1200px;
    text-align: center;
}

#about-content p{
    color: var(--color-text);
    font-size: 1.3rem;
    font-weight: bold;
}

#about-content p span{
    color: orange;
}
                    /* About Section End */

                    /* Skills Section Start */
#section-skills{
    margin: 0;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-primary);
}

#skills-content{
    margin-top: 35px;
    margin-bottom: 15px;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill{
    width: 200px;
    background-color: white;
    overflow: hidden;
    margin: 0px 20px 40px;
    border-radius: 22px;
}

.skill-percent{
    height: 100%;
    padding: 12px 5px;
    box-shadow: 1px 0px 5px 3px rgb(71, 69, 69);
}

.skill-percent span{
    color: white;
    font-weight: bold;
    margin-left: 5px;
    font-size: 1.2rem;
}

/* skills percents */

.fifty-percent{
    width: 50%;
    background-color: darkorange;
}

.seventy-percent{
    width: 70%;
    background-color: darkcyan;
}

.eighty-percent{
    width: 80%;
    background-color: darkmagenta;
}

.ninety-percent{
    width: 90%;
    background-color: rgb(45, 129, 179);
}

.hundred-percent{
    width: 100%;
    background-color: darkgreen;
}
                    /* Skills section End */

                    /* Education Section Start */
#section-education{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

#education-content{
    width: 80%;
    height: fit-content;
    position: relative;
}

.education{
    width: 35%;
    background-image: linear-gradient(to bottom right, var(--color-secondary), var(--color-primary-light), var(--color-primary));
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px -5px 5px 2px rgba(18, 22, 53, 0.411);
    margin-bottom: 30px;
    position: relative;
    left: 5%;
}

.education-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--color-text);
}

.education-header img{
    height: 80px;
    background-color: white;
    padding: 8px;
}

.education-title h1{
    color: var(--color-primary);
    margin: 5px 0;
}

.education-title h2{
    color: orange;
    margin: 5px 0;
}

.education-title h4{
    color: var(--color-text);
    margin: 5px 0;
}

.education-details{
    color: var(--color-text);
    margin-top: 20px;
}

.education:nth-child(2n+2){
    left: 55%;
}

                    /* Plane-Car Effect Start */
.dot{
    position: relative;
    left: -5%;
    margin-bottom: 15rem;
    background-color: orange;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 2;
}

.plane-car-effect{
    position: absolute;
    width: 5%;
    height: 75%;
    left: 50%;
    top: 5%;
    z-index: 1;
    border-left: 3px dashed var(--color-secondary-light);
}

.plane-car{
    position: sticky;
    top: 30vh;
    left: -20px;
    z-index: 3;
}

.plane-car i{
    font-size: 2rem;
    transform: rotate(90deg);
    color: var(--color-accent);
    position: absolute;
    left: -19px;
    top: -5px;
}